<!DOCTYPE html>
<html class="signin">

<head>
  <title>Sign In</title>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <link rel="stylesheet" href="static/signin.css">
</head>

<body class="signin">
<center><h2> The Helping Hand</h2></center>
  <div class="form">
    <center>
      <h1>Sign In</h1>
    </center>
    <form method="POST" action="/start">
      <label for="name">Patient Name</label>
      <br>
      <input type="text" name="name" class="form" required>
      <br>
      <label for="password">Password</label>
      <br>
      <input type="password" name="password" class="form" required>
      <br>
      <button type="submit" class="form-submit">Sign in</button>
    </form>
  </div>
</body>

</html>