<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Helping Hand</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <form action="/script" method="post" class="form-cont">
            <label for="user_input">Enter Apriltag family:</label>
            <input type="text" id="user-input" name="user-input" class="inner-form">
            <button type="submit" id="start-btn" class="inner-form">Start Operation</button>
        </form>
    </div>
</body>
</html>